<div class="admin-container">
  <aside class="sidebar">
    <nav class="menu">
      <a routerLink="products" routerLinkActive="active">🧴 Proizvodi</a>
      <a routerLink="orders" routerLinkActive="active">📦 Porudžbine</a>
      <a routerLink="users" routerLinkActive="active">👤 Korisnici</a>
    </nav>

    <button class="logout-btn" (click)="logout()">Odjavi se</button>
  </aside>

  <main class="main-content">
    <header>
      <h1>Admin Dashboard</h1>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
