<section class="customer-dashboard">
  <h2>Dobrodošli, {{ userEmail }}</h2>

  <div class="cards-container">
    <div class="card">
      <div class="card-icon">📦</div>
      <h3>Moje porudžbine</h3>
      <ul *ngIf="orders.length; else noOrders">
        <li *ngFor="let o of orders">
          <strong>ID:</strong> {{ o.id }} | <strong>Status:</strong>
          {{ o.status }} | <strong>Datum:</strong>
          {{ o.createdAt | date : "short" }}
        </li>
      </ul>
      <ng-template #noOrders><p>Nema porudžbina.</p></ng-template>
    </div>
  </div>
</section>
